body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    text-align: center;
    background: cornsilk;
}
.row {
    height: 80%;
    width: 80%;
}
h3 {
    opacity: 0.7;
}
